     import(BsMD,DoE.base)
     export("DanielPlot", "aliases", "aliasprint", "IAPlot", "MEPlot", 
            "cubePlot", "cubedraw", "cubecorners", "cubelabel",
            "FrF2","pb","FrF2Large","nrunsV","fold.design","add.center","iscube",
            "blockpick","blockpick.big","splitpick","leftadjust",
            "nruns.catlg", "nfac.catlg", "nclear.2fis.catlg",
            "clear.2fis.catlg","all.2fis.clear.catlg","res.catlg","WLP.catlg",
            "CIG.catlg","CIGstatic","catlg","Yates","BsProb.design",
            "block.catlg","pb.list","compromise","halfnormal")

     S3method("[",catlg)
     S3method(print,catlg)
     S3method(print,aliases)
     S3method(MEPlot,default)
     S3method(MEPlot,design)
     S3method(IAPlot,default)
     S3method(IAPlot,design)
     S3method(DanielPlot,default)
     S3method(DanielPlot,design)
